# Ignore SQLite database file
db.sqlite3

# Ignore migrations
**/migrations/*
!**/migrations/__init__.py

# Ignore Python bytecode
__pycache__/
*.pyc
*.pyo

# Ignore environment variables
.env

# Ignore static and media files
static/
media/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp

.json