# Ignore node_modules for a Node.js project
node_modules/

# Ignore log files
*.log

# Ignore build directories
build/

# Ignore Python bytecode files
*.pyc

# Ignore IDE files
.vscode/
.idea/

# Django specific
*.log                    # Log files
*.pot                    # Translation files
*.pyc                    # Python bytecode files
*.pyo                    # Python optimized bytecode files
__pycache__             # Python cache directories
backend/db.sqlite3               

# Django migrations
*/migrations/*           # Ignore all migration files

# Static and media files
/static/                 # Ignore static files folder if not using a CDN or other static file handling
/media/                  # Ignore media files folder if not using external storage

# Environment and settings files
.env                     # Ignore environment variables file (for sensitive data)
*.env                    # Ignore all .env files

# VSCode or other IDE specific files
.vscode/                 # VSCode settings directory
.idea/                   # JetBrains IDEs project files

# MacOS system files
.DS_Store                # MacOS Finder metadata files

# Linux system files
*~                       # Backup files created by text editors

__pycache__
pyc
migration/__pycache__

db.sqlite3

media/

